.content{
    min-height: 420px;
}

.panel.panel-primary{
    float: left;
    margin-left: 4%;
    max-right: 3%;
    min-height: 400px;
}

#myCarousel .item img{
    width: 100%;
    height: 350px;
}